.body {
    width: 100%;
    height: 100%;
}

.resume-container {
    padding: 171px;
}
.container-qualification1 {
    width: 278px;
}
.container-experence {
    width: 278px;
}
.container-qualification2 {
    width: 278px;
}

.container-data {
    display: flex;
}

.container-creativity {
    display: flex;
    justify-content: space-around;
}

.circle1 {
    padding: 38px 28px;
    border-radius: 50%;
    border: 12px solid #0b0b3c;
    border-top-color: #afadad;
    width: 21px;
}

.circle2 {
    padding: 38px 28px;
    border-radius: 50%;
    border: 12px solid #afadad;
    border-left-color: #0b0b3c;
    width: 21px;
}

.circle3 {

    padding: 38px 28px;
    border-radius: 50%;
    border: 12px solid #afadad;
    width: 21px;
    border-top-color: #0b0b3c
}


.big-container {
    display: table;
    padding: 40px;
    box-shadow: bisque;
    border: 8px solid #27274e;
  
    margin: auto;
}

.big-container h1 {
    color: #050568;
    font-weight: 500;
    font-size: 42px;
    text-align: center;
}
.education1 h2 {
    text-align: center;
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #181854;
    padding: 16px 17px;
}

.achevement1 h2 {
    font-weight: 500;
    font-size: 16px;
    color: white;
    width: 200px;
    background-color: #181854;
    padding: 16px 17px;
    text-align: center;
}

.experence1 h2 {
    font-weight: 500;
    font-size: 16px;
    color: white;
    width: 200px;
    background-color: #181854;
    padding: 16px 17px;
    text-align: center;
}

.container-language h2 {
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #181854;
    padding: 13px 20px;
    width: 180px;
    text-align: center;

}

.container-skill h2 {
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding: 13px 20px;
    width: 180px;
    text-align: center;
    background-color: #181854;

}

.container-interest h2 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding: 13px 20px;
    width: 180px;
    background-color: #181854;

}

.container-language {
    width: 260px;
}

.container-skill {
    width: 260px;
}

.container-interest {
    width: 260px;
}

.experence1 h4 {
    text-align: center;
    color: #201f1f;
    font-weight: 500;
    font-size: 17px;
}

.achevement1 h4 {
    text-align: center;
    color: #201f1f;
    font-weight: 500;
    font-size: 17px;

}

.education1 h3 {
    color: #12124e;
    text-align: center;
    font-size: 19px;
    FONT-WEIGHT: 600;
}

.education1 h4 {
    text-align: center;
    color: #12124e;
    font-weight: 600;
    font-size: 16px;
}

.education1 p {
    font-size: 14px;
    color: #464545;
}

.experence1 h3 {
    color: #12124e;
    text-align: center;
    font-size: 19px;
    FONT-WEIGHT: 600;
}

.experence1 h4 {
    text-align: center;
    color: #12124e;
    font-weight: 600;
    font-size: 16px;
}

.experence1 p {
    font-size: 14px;
    color: #464545;
}

.achevement1 h3 {
    color: #12124e;
    text-align: center;
    font-size: 19px;
    FONT-WEIGHT: 600;
}

.achevement1 h4 {
    text-align: center;
    color: #12124e;
    font-weight: 600;
    font-size: 16px;
}

.achevement1 p {
    font-size: 14px;
    color: #464545;
}
.container-skill h3 {
    text-align: center;
    font-size: 22px;
    color: #12124e;
    font-weight: 400;
}
.container-interest h3 {
    text-align: center;
    color: #12124e;
    font-weight: 600;
    font-size: 16px;
}
.container-interest p {
    font-size: 14px;
    color: #464545;

}
.color-block {
    padding: 13px;
    background-color: #12124e;
}