*{
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
    background-color: #b2b2f8;
}
.container-biodata {
    display: table;
    margin: auto;
    background-color: #954972;
    width: 100%;
    text-align: center;
}
.home-container {
    width: 636px;
    display: table;
    margin: auto;
    background-color: #f5f7fa;
}
.container-biodata h2 {
    font-size: 32px;
    color: white;
    font-weight: 400;
}
.container-biodata p {
    font-size: 22px;
    margin-top: -18px;
    color: white;
    font-weight: 200;
}
.container-study h2 {
    font-weight: 400;
    color: #ec7dec;
    margin-bottom: 0px;
}
.container-study p {
    color: #3e3c3c;
    word-spacing: 5px;
    font-size: 14px;
}
.home-container-requirements {
    padding: 34px;
}
.container-education-flex {
    display: flex;
}
.container-education h2 {
    font-weight: 400;
    color: #ec7dec;
    margin-bottom: 0px;
}
.level-system1 h3 {
    text-align: center;
    height: 34px;
    background-color: yellow;
    width: 146px;
    padding: 7px;
    font-size: 15px;
}
.level-system2 h3 {
    text-align: center;
    height: 34px;
    background-color: yellow;
    width: 146px;
    padding: 7px;
    font-size: 15px;
}
.level-system3 h3 {
    text-align: center;
    height: 34px;
    background-color: yellow;
    width: 146px;
    padding: 7px;
    font-size: 15px;
}
.level-system1 h4 {
    color: #2d2d2d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.level-system2 h4 {
    color: #2d2d2d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.level-system3 h4 {
    color: #2d2d2d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.level-system1 p {
    font-size: 14px;
    color: #555252;
}
.level-system2 p {
    font-size: 14px;
    color: #555252;
}
.level-system3 p {
    font-size: 14px;
    color: #555252;
}

.container-experence h2 {
    color: #14b1f1;
    font-weight: 400;
    margin-bottom: 0px;
}
.text-container {
    display: flex;
}
.experence-text1 h3 {
    background-color: skyblue;
    text-align: center;
    height: 34px;
    width: 146px;
    padding: 7px;
    font-size: 15px;
}
.experence-text2 h3 {
    background-color: skyblue;
    text-align: center;
    height: 34px;
    width: 146px;
    padding: 7px;
    font-size: 15px;
}
.experence-text3 h3 {
    background-color: #ec7dec;
    text-align: center;
    height: 34px;
    width: 146px;
    padding: 7px;
    font-size: 15px;
}
.experence-text1 h4 {
    color: #2d2d2d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.experence-text2 h4 {
    color: #2d2d2d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.experence-text3 h4 {
    color: #2d2d2d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.experence-text1 p {
    font-size: 14px;
    color: #555252;
}
.experence-text2 p {
    font-size: 14px;
    color: #555252;
}
.experence-text3 p {
    font-size: 14px;
    color: #555252;
}
.creativity {
    display: flex;
}
.creativity {
    display: flex;
    justify-content: space-between;
}

.creativity-skill1 ul {
    line-height: 30px;
    list-style-type: none;
    text-transform: uppercase;
    margin-left: -34px;
}
.creativity-skill1 h2 {
    font-weight: 400;
    color: #ec7dec;
    margin-bottom: 0px;
}
.creativity-skill2 h2 {
    font-weight: 400;
    color: #ec7dec;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}
.creativity-skill1 li {
    color: #5b5858;
}
.skill-box h3 {
    margin-left: 207px;
    text-align: center;
    background-color: #ec7dec;
    height: 34px;
    width: 98px;
    padding: 10px;
    font-size: 15px;
}
.skill-box p {
    text-align: center;
    font-size: 13px;
    margin-left: 71px;
    color: #4a4949;
    font-family: serif;
}

